.info-page {
  // height: 100vh;
  // background-image: url('/Flags/RedLine/FireFlag.jpg');
  // background-size: cover;
}

.info {
  margin-top: 50vh;
}

.info1 {
  margin-top: 50vh;
}

.info2 {
  margin-top: 20vh;
}

.info3 {
  margin-top: 70vh;
}

.para-div {
  color: #FFF;
  margin-top: 20vh;
}
