a {
  margin: 5px;
  padding: 25px;
  display: inline-block;
}

.burger-menu {
  border-radius: 20px;
  // position: absolute;
}

.logo {
  width: 60px;
  float: left;
}

.header {
  // height: 60px;
  position: absolute;
  background-color: transparentize(green, 0);
}
