.contact-page {
  background-color: #000;
  color: #FFF;
}

.shop-page {
  // margin-top: 600px;
}

.title {
  margin-top: 20vh;
  font-size: 100px;
  font-style: oblique;
}

.div1 {
  background-color: red;
  display: flex;
  width: 200px;
  height: 200px;
}

.div2 {
  background-color: green;
  margin: 50px;
  width: 100px;
  height: 100px;
}

.div3 {
  background-color: blue;
  // display: flex;
  width: 200px;
  height: 200px;
}
