.bg-image {
  // background-image: url('/debris.jpg');
  // height: 100vh;
  // background-repeat: no-repeat;
  // background-size: cover;
}

// .img-one {
//   background-image: url('/debris.jpg');
// }
//
// .img-two {
//   background-image: url('/Flags/RedLine/FireFlag.jpg');
// }

.contact-page {
  background-color: #000;
  color: #FFF;
}

.home-logo {
  margin-top: 30vh;
}

.home-page {
  // background-color: green;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/debris.jpg');
}

.title {
  margin-top: 70vh;
  font-size: 100px;
  font-style: oblique;
}

.title-div {
  width: 50%;
  display: inline-block;
}
