.contact-page {
  background-color: #000;
  color: #FFF;
}

.home-logo {
  display: inline-block;
  margin-top: 40vh;
}

.title {
  margin-top: 50vh;
  font-size: 100px;
  font-style: oblique;
}

.title-div {
  width: 50%;
  display: inline-block;
}
