.info-page {
  height: 100vh;
}

.info {
  margin-top: 50vh;
}

.info1 {
  margin-top: 20vh;
}

.info2 {
  margin-top: 20vh;
}

.info3 {
  margin-top: 70vh;
}

.para-div {
  color: #FFF;
  margin-top: 20vh;
  text-align: left;
  text-shadow: 3px 3px 0 #000;
}
