.intro-container {
  // margin: 20px;
  // width: 90vw;
  background-color: #e3e1e1;
}

.intro-para {
  font-size: 45px;
  padding: 15%;
  text-shadow: 9px 9px 26px #000;
}

.para-shadow {
  text-shadow: 9px 9px 26px #000;
}
