.black {
  background: #000;
  display: flex;
  justify-content: center;
}

.black-div {
  color: #e3e1e1;
  margin-top: 5vh;
}

.black-para {
  font-size: 20px;
}

.carpenter {
  margin: 5%;
  width: 30vw;
}

.connect-header {
  font-size: 30px;
}

.cream {
  background: #f3edbe;
  display: flex;
  justify-content: center;
}

.contact-div {
  margin-bottom: 80vh;
}

.pad {
  margin: 25%;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 500px) {
  
}
