.contact-div {
  margin-bottom: 0px;
  // margin-top: 100vh;
  height: 400px;
  // background-image: url('/Flags/RedWhite&Blue/Flag-flat.jpg');
  background-color: #dbc27b;
  // background-size: cover;
}

.space {

}
