

.flag-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20vw;
}

.fire-flag-div {
  margin-top: 100px;
}

.gallery-div {
  margin-bottom: 0px;
  margin-top: 100vh;
}

.info-div {
  font-size: 40px;
}

.intro {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  height: 80vh;
  margin: 30px;
  width: 30vw;
  background-color: #FFF;
}

.section3 {
  margin-top: 200px;
}

.shop-page {
  margin-right: 80vw;
}
