.flag-image {
  width: 25vw;
}

.gallery-div {

}

.image-div {
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 20px;
  width: 25vw;
}
